#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarefasCompletas{
  background-color: #201616;
  padding: 15px;
}

.tarefasPendentes{
  background-color: #5b3434;
  padding: 15px;
}

.tarefaCompleta, .tarefaPendente{
  text-align: justify;
  padding: 0.5rem;
  border: 1.5px dashed #ffffffdb;
}